.all {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid;
  border-color: #ECCCB2;
  border-radius: 20px;
  padding: 50px;
  background-color: #F5E8C7;
}
h1{
  color: #AC7088;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}
form{
  display: block;
  padding-left: 200px;
}
#nika{
  padding: 0px auto;
  margin: 0px auto;
}
img{
  display: block;
  margin: 0;
  width: 45px;
}
#val {
  font-size: 40px;
}
p{
  font-family: 'Inconsolata', monospace;
  color: #AC7088;
}
.lol{
  font-family: 'Inconsolata', monospace;
}
.row{
  display: flex;
  color: #AC7088;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}
#bottom{
  text-align: center;
}
#firsti{
  display: block;
  margin-left: 35px;
}
#secondi{
  display: block;
  margin-left: 35px;
}
#thirdi{
  display: block;
  margin-left: 35px;
}
#fourthi{
  display: block;
  margin-left: 35px;
}
#fifthi{
  display: block;
  margin-left: 35px;
}
